*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/release
/app/C360
/app/MeiZu
/app/DEV
/app/UAT
/app/MI
/app/YYB
/app/OPPO
/app/VIVO
/app/C360
/app/BaiDu
/app/HuaWei
/app/SouGou
/app/MeiZu