<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.cd1369.tbs.android"> <!-- 如果引入快手，com.advance.supplier.ks和com.kwad.sdk一定要添加 -->
    <uses-sdk tools:overrideLibrary="com.bun.miitmdid,com.advance.supplier.ks,com.kwad.sdk" />

    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission
        android:name="null.permission.JPUSH_MESSAGE"
        tools:node="remove" />

    <permission
        android:name="null.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"
        tools:node="remove" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.KILL_BACKGROUND_PROCESSES"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.VIBRATE"
        tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"
        tools:node="remove" /> <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:node="remove" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" /> -->
    <!-- <uses-permission android:name="android.permission.GET_TASKS" /> -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions"
        tools:node="remove" />

    <application
        android:name=".config.TbsApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name_env"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/UniversalTheme"
        tools:replace="android:label">

        <meta-data android:name="TD_APP_ID" android:value="016127D4E3C844CCAB7BF4EE55D88CFE" />
        <meta-data android:name="TD_CHANNEL_ID" android:value="Android-Boss" />

        <activity android:name=".ui.home.AboutUsActivity"/>
        <activity android:name=".ui.home.WebActivity" />
        <activity android:name=".ui.home.ArticleActivity" />
        <activity android:name=".ui.home.TodayHistoryActivity" />
        <activity android:name=".ui.home.SearchArticleActivity" />
        <activity android:name=".ui.home.SearchBossActivity" />
        <activity android:name=".ui.start.ChangePhoneActivity" />
        <activity android:name=".ui.start.ConfirmPhoneActivity" />
        <activity android:name=".ui.home.ContactActivity" />
        <activity android:name=".ui.home.HistoryActivity" />
        <activity android:name=".ui.home.FavoriteActivity" />
        <activity android:name=".ui.home.UserInfoActivity" />
        <activity android:name=".ui.start.InputCodeActivity" />
        <activity android:name=".ui.start.InputPhoneActivity" />
        <activity android:name=".ui.start.GuideActivity" />
        <activity android:name=".ui.start.SplashActivity" />
        <activity android:name=".ui.home.BossInfoActivity" />
        <activity android:name=".ui.home.BossHomeActivity" />
        <activity android:name=".ui.home.SearchActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.start.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.start.WelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullTheme">
            <!-- 要想在别的App上能成功调起App，必须添加intent过滤器 -->
            <!-- 协议部分，随便设置 -->
            <intent-filter>
                <!--String url = "thebosssays://thebosssays/launch?id=xxx";-->
                <!--协议部分，随便设置-->
                <data
                    android:host="thebosssays"
                    android:path="/launch"
                    android:scheme="thebosssays" />
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service
            android:name=".push.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service> <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".push.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>

                <!-- Required 用户注册 SDK 的 intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收 SDK 消息的 intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收 SDK 通知栏信息的 intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的 intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:theme="@android:style/Theme.NoTitleBar"
            tools:node="replace">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity> <!-- 若您的业务中有使用极光富媒体功能，或者极光早上好功能，需要把此 Activity 的 exported 修改成 true 覆盖 jcenter 上的组件。 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="true"
            android:theme="@style/MyDialogStyle"
            tools:node="replace">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="cn.jpush.android.ui.PopWinActivity" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
    </application>

</manifest>